.status-red {
    -fx-background-color:rgba(128,0,0,0.7);
}
.status-green {
    -fx-background-color:rgba(0,128,0,0.7);
}
.status-blue {
    -fx-background-color:rgba(0,0,128,0.7);
}

.default-color0.chart-bar { -fx-bar-fill: red }
.default-color1.chart-bar { -fx-bar-fill: blue }